repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0  # Use the ref you want to point at
    hooks:
    -   id: trailing-whitespace
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-yaml
-   repo: https://github.com/codespell-project/codespell
    rev: 'v2.1.0'
    hooks:
    -   id: codespell
        args: ["-I", "codespell.txt"]
